{% extends "blogs/header.html" %}
{% block content %}  
  <h3>All blogs</h3>
  <table class="table">
    <tbody>
      <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Author</th>
      </tr>
      {% for blog in blogs %}
        <tr>
          <td>{{ blog.date }}</td>
          <td><a href="/blogs/{{blog.id}}">{{ blog.title }}</a></td>
          <td>{{ blog.author.first_name }} {{ blog.author.last_name }}</td>
        </tr>
      {% endfor %}    
    </tbody>
  </table>
{% endblock %}