{% extends "blogs/header.html" %}
{% block content %}  
  {% if user.is_authenticated %}
      <h5>Hi {{user.username}} !!</h5>
      <a class="btn btn-default" href="{% url 'blogs:create_blog' %}">Create new blog</a>
  {% endif %}
  <h3>Most recent blogs</h3>
  <table class="table">
    <tbody>
      <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Author</th>
      </tr>
      {% for blog in recent_blogs %}
        <tr>
          <td>{{ blog.date }}</td>
          <td><a href="/blogs/{{blog.id}}">{{ blog.title }}</a></td>
          <td>{{ blog.author.first_name }} {{ blog.author.last_name }}</td>
        </tr>
      {% endfor %}    
    </tbody>
  </table>
{% endblock %}