{% extends "blogs/header.html" %}
{% block content %}  
  <h3>Most recent blogs</h3>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <table class="table">
    <tbody>
      <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Author</th>
      </tr>
      {% for blog in recent_blogs %}
        <tr>
          <td>{{ blog.date }}</td>
          <td>{{ blog.title }}</td>
          <td>{{ blog.author.first_name }} {{ blog.author.last_name }}</td>
        </tr>
      {% endfor %}    
    </tbody>
  </table>
{% endblock %}